{% if items %}
  <ul{{ attributes.addClass('menu') }} aria-label="{{ 'Menu link element'|t }}">
    {% for item in items %}
      {%
        set classes = [
        'menu-item',
      ]
      %}
      {% set link_text %}
        <span class="menu-link__title link-animate-on-hover" data-link-text="{{ item.title }}">{{ item.title }}</span>{{ item.original_link.getDescription() }}
      {% endset %}
      <li{{ item.attributes.addClass(classes) }}>
        {{ link(link_text, item.url, { 'title': null }) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
