{{ attach_library('it_route_trip_tools/tables') }}
	{% for dir, dir_data in route_data.times_alt  %}
		{% if dir != 'inbound' %}
			{% set dir_class = 'show-dir' %}
		{% else %}				
			{% set dir_class = 'hide-dir hidden' %}
		{% endif %}

		<div id="{{ dir }}-tables" class="{{ dir_class }} dir-tables dir-tables-{{ dir }}">
			<div id="{{ dir }}--navigation-buttons" class="table-navigation-buttons">
		    </div>
			<div id="{{ dir }}-large-screen-route-table" class="large-screen-route-table table-responsive">
				<div class="table-header">
					<div class="btn-group btn-stops-toggle" data-toggle="buttons">
						<label class="btn btn-primary active">
							<input type="radio" name="display_stops_options" value="allstops" checked="checked">All stops
						</label>
						<label class="btn btn-default">
							<input type="radio" name="display_stops_options" value="timepoint">Timepoints
						</label>
					</div>
					<a data-toggle="tooltip" data-placement="right" id="right" title="" data-original-title="What are timepoints?">What are timepoints?</a>
					<div style="display: flex; float: right;">
						<button id="{{ dir }}-back" role="button" class=" right-table-button btn btn-default" style="order: 1;" disabled><i class="fas fa-arrow-left" style="color:white;"></i><span class="sr-only">{{ dir }} Back</span></button>
						<button id="{{ dir }}-forward" role="button" class="right-table-button btn btn-default" style="order: 2; margin-left: 15px;"><i class="fas fa-arrow-right" style="color:white"></i><span class="sr-only">{{ dir }} Forward</span></button>
					</div>
				</div>
				<table class="table table-hover table-condensed">
					<tbody>
						{% for stop_id, stop_data in dir_data.stops %}
							{% for timepoint, stop_names in stop_data %}
								{% if timepoint != 'timepoint' %}
									{% set timepoint_class = 'non-timepoint'%}
								{% else %}
									{% set timepoint_class = 'timepoint' %}
								{% endif %}
								{% for stop_name, stop_times in stop_names %}
									<tr class="{{ timepoint_class }}" data-stop-id="{{ stop_id }}">
										<td style="width: {{ (100/((stop_times|length) + 4)) * 4 }}%">
											{{ stop_name }}
										</td>
										{%  for stop_time in stop_times %}
											<td style="width: {{ (100/((stop_times|length) + 4)) }}%">{{ stop_time }}</td>
										{% endfor %}
									</tr>
								{% endfor %}
							{% endfor %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endfor %}