{{ attach_library('it_route_trip_tools/routes') }}
<div class="container-fluid">
    <div class="col-xs-12 col-md-6 alerts-right-panel">
        <h2 class="routes-title">Select a Bus Route</h2>
        <ul class="routes-container">
            {% for route_id, route_options in routes_options %}
                <li class="route-item">
                    <a class="route-link" href="/plan-your-trip/routes/{{ route_id }}">
                        <span class="route-item-id">{{ route_id }}</span>
                        <span class="route-item-name">{{ route_options.name }}</span>
                        {% if route_options.alerts > 0 %}
                          <span class="route-item-alerts">
                              <img src="/modules/custom/it_route_trip_tools/assets/images/alert.svg" style="width: 20px" />
                              {{ route_options.alerts }}
                          </span>
                        {% endif %}
                        <img class="card-arrow" style="float: right" src="/modules/custom/it_route_trip_tools/assets/images/arrow.svg" />
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-12 col-md-6 alerts-left-panel">
        <h2><span class="routes-title">Alerts <span class="hide-on-mobile">& Announcements</span></span>
            <span style="float: right;">
                <a class="card-link" href="{{ alert_view_all_link }}">View all alerts<img class="card-arrow" src="/modules/custom/it_route_trip_tools/assets/images/arrow.svg" /></a>
            </span>
        </h2>
        <div id="accordion">
        {% for alert_id, alert in alert_options %}
            <div class="card">
                <div class="card-header" id="heading{{ loop.index }}">
                    <h5 class="mb-0">
                        <img src="/modules/custom/it_route_trip_tools/assets/images/{{ alert.severity ? alert.severity : 'alert' }}.svg" style="margin-left: -30px; margin-right: 10px; width: 20px" />
                        <span class="alert-title">{{ alert.title }}</span>
                        <button class="btn btn-link alerts-collapse" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                            <img src="/modules/custom/it_route_trip_tools/assets/images/accordion.svg" />
                        </button>
                    </h5>
                </div>

                <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                    <div class="card-body">
                        {{ alert.description.value|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>