<div class="container-fluid">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="home-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="true">Schedule</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#real-time" role="tab" aria-controls="real-time" aria-selected="false">Real Time</a>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active in" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
			{% if route_data %}
				<div id="route-effective" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					Effective from {{ route_data.effective_from|date('m-d-Y')  }} until {{ route_data.effective_until|date('m-d-Y')  }}
				</div>
				<div id="route-map" class="col-xs-12 col-sm-12 col-md-10 col-lg-12">
					<div id="route-map" class="col-xs-12 col-sm-12 col-md-8 col-lg-12">
						{{ routes_map }}
					</div>
					<div id="route-info-header">
						<div id="display-now-route-info" class="col-xs-12 col-sm-12 col-lg-8">
							{% for dir, dir_data in route_data.times_alt  %}
								{% if dir != 'inbound' %}
									{% set dir_class = 'show-dir' %}
									<h2 class="dir-heading dir-heading-outbound displaying-now {{ dir_class }}">Displaying {{ route_data.short_name }} {{ route_data.long_name }} - Outbound {% if route_data.service_id == 1 %}Monday - Friday {% else %} Weekends {% endif %}</h2>
								{% else %}
									{% set dir_class = 'hide-dir hidden' %}
									<h2 class="dir-heading dir-heading-inbound displaying-now {{ dir_class }}">Displaying {{ route_data.short_name }} {{ route_data.long_name }} - Inbound {{ route_data.dir }} {% if route_data.service_id == 1 %}Monday - Friday {% else %} Weekends {% endif %}</h2>
								{% endif %}
							{% endfor %}
						</div>
{#						<div class="col-xs-12 col-sm-12 col-lg-4">#}
{#							<div class="btn-group btn-toggle dir-control-buttons">#}
{#								<div class="dir-control-button">#}
{#									<button id="direction" role="button" class="btn btn-primary">Switch Directions</button>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#						<div id="icon-legend" class="col-xs-12 col-sm-12 col-lg-12">#}
{#							<legend>#}
{#								<p><i class="fas fa-1x fa-diamond"></i> = Timepoint (stop time guaranteed)<br /><i class="fas fa-1x fa-circle"></i> = Non-Timepoint (stop time estimated)</p>#}
{#							</legend>#}
{#						</div>#}
						<div id="filters" class="col-xs-12 col-sm-12 col-lg-12">
							<div id="filter-route" class="col-xs-12 col-sm-12 col-md-3">
								<h5>Find a Route Schedule</h5>
								<select id="route-change">
									{% for key, value in routes_options %}
										<option value="{{ key }}" {{ key == route_id ? 'selected="selected"' }}>{{ value }}</option>
									{% endfor %}
								</select>
							</div>
							<div id="filter-stops" class="col-xs-12 col-sm-12 col-md-3">
								<h5>
									Customize Table View
								</h5>
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										Choose stops
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										{% for stop_id, stop_data in route_data.stop_markers.outbound %}
											<li>
												<div class="dropdown-item">
													<div class="form-check">
														<input name="show_stop" class="form-check-input" type="checkbox" value="{{ stop_id }}" id="checkstop{{ stop_id }}" />
														<label class="form-check-label" for="checkstop{{ stop_id }}">{{ stop_data.stop_data.stopName }}</label>
													</div>
												</div>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<div id="filter-day" class="col-xs-12 col-sm-12 col-md-2">
								<h5>
									Day of Travel
								</h5>
								<div class="form-radios">
									<div class="form-radio">
										<input class="form-check-input" type="radio" value="weekdays" id="weekdays" name="dayoftravel"/>
										<label class="form-check-label" for="weekdays">Monday - Friday</label>
									</div>
									<div class="form-radio">
										<input class="form-check-input" type="radio" value="weekends" id="weekends" name="dayoftravel"/>
										<label class="form-check-label" for="weekends">Saturday - Sunday</label>
									</div>
								</div>
							</div>
							<div id="filter-direction" class="col-xs-12 col-sm-12 col-md-2">
								<h5>
									Direction
								</h5>
								<div class="form-radios">
									<div class="form-radio">
										<input class="form-check-input" type="radio" value="outbound" id="outoubnd" name="direction" checked="checked" />
										<label class="form-check-label" for="outoubnd">Outbound</label>
									</div>
									<div class="form-radio">
										<input class="form-check-input" type="radio" value="inbound" id="inbound" name="direction" />
										<label class="form-check-label" for="inbound">Inbound</label>
									</div>
								</div>
							</div>
							<div id="download-link" class="col-xs-12 col-sm-12 col-md-2">
								Download
							</div>

						</div>
					</div>
					<div id="route-table" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						{{ routes_table }}
					</div>

				</div>
			{% else %}
				{{ attach_library('it_route_trip_tools/all-routes-map') }}
			{% if all_routes_map_data %}
				<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
				<script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
				<div id="all-routes-container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div id="all-routes-map"></div>
				</div>
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqUxJwPyuHfnatPYCrCwLKjsAi5r7iRPI&location=47.044408,-122.901711&radius=2&strictbounds&libraries=places" defer></script>
			{%  endif %}
			{% endif %}
		</div>
		<div class="tab-pane fade" id="real-time" role="tabpanel" aria-labelledby="real-time-tab">Coming Soon!</div>
	</div>
</div>
