<div class="card vcenter bg-white" onclick="location.href = '{{ link.url }}'" style="cursor: pointer; border-top: 8px solid {{ color }}">
    <div class="card-block">
        <h4 class="card-title text-black">{{ title }}</h4>
        <a href="{{ link.url }}" class="card-link">{{ link.title }} <img class="card-arrow" src="/modules/custom/it_route_trip_tools/assets/images/arrow.svg" /></a>
    </div>
</div>